@media ( max-width: 1200px )
    .container
        max-width: 960px
    .hotel-slider
        width: 590px
    .swiper
        width: 590px
        &-slide
            &__img
                width: 100%
                height: 100%
                object-fit: cover
    .card
        width: 220px
        height: 220px
    .footer
        &__input
            flex-basis: 100%



@media ( max-width: 992px )
    .container, .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
            margin-right: auto
            max-width: 340px
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
    .hotel
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row
    .booking
        width: 340px
    .hotel-slider
        width: 100%
    .map
        width: 340px
    .reviews
        &-slider
            &__item
                max-width: 580px
    .activities 
        &-wrapper
            flex-wrap: wrap
    .card
        width: 48%
        height: 255px
        margin-bottom: 30px
    .footer
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 38px
        &__input
            flex-basis: 49%
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
        &__legal
            position: static
            grid-column: span 2
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2 
        &__additional
            grid-column: span 2
        &__contact
            &-details
                grid-row: 3 
                grid-column: span 5
            &-form
                grid-row: 4
                grid-column: span 5

            
                

@media ( max-width: 768px )
    body
        padding-top: 78px
    .container
        max-width: 95%
    .navbar
        &-bottom
            display: none
            padding-top: 30px
            &--visible
                display: block
                position: fixed
                left: 0
                top: 78px
                right: 0
                bottom: 0
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 20px
                &--mobile
                    &-hidden
                        display: block
        &__mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99
        &__user, &__search 
            &--mobile
                &-hidden
                    display: none
                &-visible
                    display: flex
        &__user
            flex-direction: column
            justify-content: center
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            border: none 
            align-items: center
            justify-content: space-between
            flex-direction: column
            cursor: pointer
            background-color: #fff
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &--light
                color: $white
                margin-left: 0
                margin-top: 10px
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0px
            &__description
                margin: 5px 0 
    .hotel-slider
        height: 350px
    .hotel
        &-right
            flex-direction: column
            min-height: 450px
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        &-wrapper
            flex-direction: column
            width: 92%
            max-width: 576px
            align-items: flex-start

    .reviews
        &-slider
            &__item 
                padding: 0 30px 30px
                &::before, &::after
                    display: none
            &__button
                top: 32px
                &--prev
                    left: 50%
                    transform: translate(-50%, 0)
                    margin-left: -65px
                &--next
                    right: 50%
                    margin-right: -65px
                    transform: translate(50%, 0)
    .activities 
        padding: 60px 0 70px 0
    .card
        width: 49%
        margin-bottom: 20px
    .footer
        &__input
            flex-basis: 100%
        
                    
    
@media ( max-width: 576px )     
    .logo
        width: 99px
    .hotel-slider
        height: 250px
    .hotel
        &__slider
            margin-bottom: 20px
    .newsletter
        padding: 76px 0px 83px 0px
        &__title
            margin-bottom: 37px
    .subscribe
        width: 100%

    .activities 
        padding: 40px 0 60px 0
        &-wrapper
            flex-wrap: wrap
            justify-content: center
        &__title
            margin-bottom: 36px
    .card
        width: 280px
        height: 255px
    .footer
        &-wrapper
            grid-template-columns: 1fr
        &__logo
            grid-row: 
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__additional
            grid-row: 3
            grid-column: 1
        &__categories
            grid-row: 4
            grid-column: 1
        &__legal
            grid-row: 5
            grid-column: 1
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1

